<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Search Near By</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="geolocateMe()" color="secondary">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item-divider sticky style="padding-left: 0;height: 30%;">
    <google-map sticky [mapOptions]="mapOptions"></google-map>
  </ion-item-divider>

  <div *ngIf="stations?.length > 0">


    <ion-card *ngFor="let item of stationList" (click)="showDeatils(item)">


      <ion-card-content>

        <ion-row style="margin-bottom: 5px;">
          <ion-col style="padding: 0 !important;" size="9">
            <strong>
              <app-text-shell animation="bouncing" [data]="item?.stationName"></app-text-shell>
            </strong>
          </ion-col>
          <ion-col style="padding: 0 !important; text-align: right;" size="3">
            <app-text-shell animation="bouncing" [ngStyle]="{'color':item?.status == 'Open' ? '#4CAF50' : '#FF0062' }"
              [data]="item?.status"></app-text-shell>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0 !important;" size="9">
            <app-text-shell animation="bouncing" [data]="item?.address"></app-text-shell>
          </ion-col>
          <ion-col style="padding: 0 !important; text-align: right;" size="3">
            <app-text-shell animation="bouncing" [data]="item?.distance"></app-text-shell>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>


  <h3 *ngIf="stations?.length == 0" class="empty-list-message">
    No users found for the selected filters.
  </h3>

</ion-content>